<div id="easyrider">
  
</div>
<div id="thanks">
Thanks. I would call you by name, but we don't even store that information. All we know is your token, secret, user ID, the number of hits you have per hour, the number of hits you have right now, and when they reset.
The hits only apply to this application, so will not affect you in any other way than using this application. If you want to know more about this system, please visit the <a href="/about">about</a> page. To revoke access from this program at any time, just go to your Twitter account and deactivate us. We won't be sad. Promise.
</div>
